<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (inventorybatches()) {
      <div>
        <h2 data-cy="inventorybatchesDetailsHeading"><span>Inventorybatches</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ inventorybatches()!.id }}</span>
          </dd>
          <dt><span>Itemid</span></dt>
          <dd>
            <span>{{ inventorybatches()!.itemid }}</span>
          </dd>
          <dt><span>Code</span></dt>
          <dd>
            <span>{{ inventorybatches()!.code }}</span>
          </dd>
          <dt><span>Txdate</span></dt>
          <dd>
            <span>{{ inventorybatches()!.txdate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Cost</span></dt>
          <dd>
            <span>{{ inventorybatches()!.cost }}</span>
          </dd>
          <dt><span>Price</span></dt>
          <dd>
            <span>{{ inventorybatches()!.price }}</span>
          </dd>
          <dt><span>Costwithoutvat</span></dt>
          <dd>
            <span>{{ inventorybatches()!.costwithoutvat }}</span>
          </dd>
          <dt><span>Pricewithoutvat</span></dt>
          <dd>
            <span>{{ inventorybatches()!.pricewithoutvat }}</span>
          </dd>
          <dt><span>Notes</span></dt>
          <dd>
            <span>{{ inventorybatches()!.notes }}</span>
          </dd>
          <dt><span>Lmu</span></dt>
          <dd>
            <span>{{ inventorybatches()!.lmu }}</span>
          </dd>
          <dt><span>Lmd</span></dt>
          <dd>
            <span>{{ inventorybatches()!.lmd | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Lineid</span></dt>
          <dd>
            <span>{{ inventorybatches()!.lineid }}</span>
          </dd>
          <dt><span>Manufacturedate</span></dt>
          <dd>
            <span>{{ inventorybatches()!.manufacturedate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Expiredate</span></dt>
          <dd>
            <span>{{ inventorybatches()!.expiredate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Quantity</span></dt>
          <dd>
            <span>{{ inventorybatches()!.quantity }}</span>
          </dd>
          <dt><span>Addeddate</span></dt>
          <dd>
            <span>{{ inventorybatches()!.addeddate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Costtotal</span></dt>
          <dd>
            <span>{{ inventorybatches()!.costtotal }}</span>
          </dd>
          <dt><span>Returnprice</span></dt>
          <dd>
            <span>{{ inventorybatches()!.returnprice }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/inventorybatches', inventorybatches()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
