<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (bankbranch()) {
      <div>
        <h2 data-cy="bankbranchDetailsHeading"><span>Bankbranch</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ bankbranch()!.id }}</span>
          </dd>
          <dt><span>Bankcode</span></dt>
          <dd>
            <span>{{ bankbranch()!.bankcode }}</span>
          </dd>
          <dt><span>Branchcode</span></dt>
          <dd>
            <span>{{ bankbranch()!.branchcode }}</span>
          </dd>
          <dt><span>Branchname</span></dt>
          <dd>
            <span>{{ bankbranch()!.branchname }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/bankbranch', bankbranch()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
