<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (workshopvehiclework()) {
      <div>
        <h2 data-cy="workshopvehicleworkDetailsHeading"><span>Workshopvehiclework</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.id }}</span>
          </dd>
          <dt><span>Jobid</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.jobid }}</span>
          </dd>
          <dt><span>Vehicleid</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.vehicleid }}</span>
          </dd>
          <dt><span>Customerid</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.customerid }}</span>
          </dd>
          <dt><span>Customername</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.customername }}</span>
          </dd>
          <dt><span>Contactno</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.contactno }}</span>
          </dd>
          <dt><span>Vehicleno</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.vehicleno }}</span>
          </dd>
          <dt><span>Vehiclebrand</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.vehiclebrand }}</span>
          </dd>
          <dt><span>Vehiclemodel</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.vehiclemodel }}</span>
          </dd>
          <dt><span>Mileage</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.mileage }}</span>
          </dd>
          <dt><span>Addeddate</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.addeddate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Iscalltocustomer</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.iscalltocustomer }}</span>
          </dd>
          <dt><span>Remarks</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.remarks }}</span>
          </dd>
          <dt><span>Calldate</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.calldate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Lmu</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.lmu }}</span>
          </dd>
          <dt><span>Lmd</span></dt>
          <dd>
            <span>{{ workshopvehiclework()!.lmd | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/workshopvehiclework', workshopvehiclework()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
