<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (vehiclebrandname()) {
      <div>
        <h2 data-cy="vehiclebrandnameDetailsHeading"><span>Vehiclebrandname</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ vehiclebrandname()!.id }}</span>
          </dd>
          <dt><span>Brandname</span></dt>
          <dd>
            <span>{{ vehiclebrandname()!.brandname }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ vehiclebrandname()!.description }}</span>
          </dd>
          <dt><span>Lmu</span></dt>
          <dd>
            <span>{{ vehiclebrandname()!.lmu }}</span>
          </dd>
          <dt><span>Lmd</span></dt>
          <dd>
            <span>{{ vehiclebrandname()!.lmd | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Companyid</span></dt>
          <dd>
            <span>{{ vehiclebrandname()!.companyid }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/vehiclebrandname', vehiclebrandname()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
