<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (paymentterm()) {
      <div>
        <h2 data-cy="paymenttermDetailsHeading"><span>Paymentterm</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ paymentterm()!.id }}</span>
          </dd>
          <dt><span>Paymenttype</span></dt>
          <dd>
            <span>{{ paymentterm()!.paymenttype }}</span>
          </dd>
          <dt><span>Forvoucher</span></dt>
          <dd>
            <span>{{ paymentterm()!.forvoucher }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/paymentterm', paymentterm()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
