<div>
  <h2 id="page-heading" data-cy="BillingserviceoptionvaluesHeading">
    <span>Billingserviceoptionvalues</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-billingserviceoptionvalues"
        [routerLink]="['/billingserviceoptionvalues/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Billingserviceoptionvalues</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (billingserviceoptionvalues?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Billingserviceoptionvalues found</span>
    </div>
  }

  @if (billingserviceoptionvalues && billingserviceoptionvalues.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vehicletypeid">
              <div class="d-flex">
                <span>Vehicletypeid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="billingserviceoptionid">
              <div class="d-flex">
                <span>Billingserviceoptionid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="value">
              <div class="d-flex">
                <span>Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lmd">
              <div class="d-flex">
                <span>Lmd</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lmu">
              <div class="d-flex">
                <span>Lmu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (billingserviceoptionvalues of billingserviceoptionvalues; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/billingserviceoptionvalues', billingserviceoptionvalues.id, 'view']">{{
                  billingserviceoptionvalues.id
                }}</a>
              </td>
              <td>{{ billingserviceoptionvalues.vehicletypeid }}</td>
              <td>{{ billingserviceoptionvalues.billingserviceoptionid }}</td>
              <td>{{ billingserviceoptionvalues.value }}</td>
              <td>{{ billingserviceoptionvalues.lmd | formatMediumDatetime }}</td>
              <td>{{ billingserviceoptionvalues.lmu }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/billingserviceoptionvalues', billingserviceoptionvalues.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/billingserviceoptionvalues', billingserviceoptionvalues.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(billingserviceoptionvalues)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (billingserviceoptionvalues && billingserviceoptionvalues.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
