<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (taxes()) {
      <div>
        <h2 data-cy="taxesDetailsHeading"><span>Taxes</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ taxes()!.id }}</span>
          </dd>
          <dt><span>Code</span></dt>
          <dd>
            <span>{{ taxes()!.code }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ taxes()!.description }}</span>
          </dd>
          <dt><span>Effectivefrom</span></dt>
          <dd>
            <span>{{ taxes()!.effectivefrom | formatMediumDate }}</span>
          </dd>
          <dt><span>Effectiveto</span></dt>
          <dd>
            <span>{{ taxes()!.effectiveto | formatMediumDate }}</span>
          </dd>
          <dt><span>Percentage</span></dt>
          <dd>
            <span>{{ taxes()!.percentage }}</span>
          </dd>
          <dt><span>Fixedamount</span></dt>
          <dd>
            <span>{{ taxes()!.fixedamount }}</span>
          </dd>
          <dt><span>Ismanual</span></dt>
          <dd>
            <span>{{ taxes()!.ismanual }}</span>
          </dd>
          <dt><span>Isactive</span></dt>
          <dd>
            <span>{{ taxes()!.isactive }}</span>
          </dd>
          <dt><span>Lmu</span></dt>
          <dd>
            <span>{{ taxes()!.lmu }}</span>
          </dd>
          <dt><span>Lmd</span></dt>
          <dd>
            <span>{{ taxes()!.lmd | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/taxes', taxes()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
