<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-billingserviceoption-heading" data-cy="BillingserviceoptionCreateUpdateHeading">Create or edit a Billingserviceoption</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_servicename">Servicename</label>
          <input
            type="text"
            class="form-control"
            name="servicename"
            id="field_servicename"
            data-cy="servicename"
            formControlName="servicename"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_servicediscription">Servicediscription</label>
          <input
            type="text"
            class="form-control"
            name="servicediscription"
            id="field_servicediscription"
            data-cy="servicediscription"
            formControlName="servicediscription"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isactive">Isactive</label>
          <input type="checkbox" class="form-check" name="isactive" id="field_isactive" data-cy="isactive" formControlName="isactive" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmd">Lmd</label>
          <div class="d-flex">
            <input
              id="field_lmd"
              data-cy="lmd"
              type="datetime-local"
              class="form-control"
              name="lmd"
              formControlName="lmd"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmu">Lmu</label>
          <input type="number" class="form-control" name="lmu" id="field_lmu" data-cy="lmu" formControlName="lmu" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_orderby">Orderby</label>
          <input type="number" class="form-control" name="orderby" id="field_orderby" data-cy="orderby" formControlName="orderby" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_billtocustomer">Billtocustomer</label>
          <input
            type="checkbox"
            class="form-check"
            name="billtocustomer"
            id="field_billtocustomer"
            data-cy="billtocustomer"
            formControlName="billtocustomer"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
