<div>
  <h2 id="page-heading" data-cy="CompanybankaccountHeading">
    <span>Companybankaccounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-companybankaccount"
        [routerLink]="['/companybankaccount/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Companybankaccount</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (companybankaccounts?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Companybankaccounts found</span>
    </div>
  }

  @if (companybankaccounts && companybankaccounts.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="companyid">
              <div class="d-flex">
                <span>Companyid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accountnumber">
              <div class="d-flex">
                <span>Accountnumber</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accountname">
              <div class="d-flex">
                <span>Accountname</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bankname">
              <div class="d-flex">
                <span>Bankname</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bankid">
              <div class="d-flex">
                <span>Bankid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="branchname">
              <div class="d-flex">
                <span>Branchname</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="branchid">
              <div class="d-flex">
                <span>Branchid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span>Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accountcode">
              <div class="d-flex">
                <span>Accountcode</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accountid">
              <div class="d-flex">
                <span>Accountid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lmd">
              <div class="d-flex">
                <span>Lmd</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lmu">
              <div class="d-flex">
                <span>Lmu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isactive">
              <div class="d-flex">
                <span>Isactive</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accounttypeid">
              <div class="d-flex">
                <span>Accounttypeid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (companybankaccount of companybankaccounts; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/companybankaccount', companybankaccount.id, 'view']">{{ companybankaccount.id }}</a>
              </td>
              <td>{{ companybankaccount.companyid }}</td>
              <td>{{ companybankaccount.accountnumber }}</td>
              <td>{{ companybankaccount.accountname }}</td>
              <td>{{ companybankaccount.bankname }}</td>
              <td>{{ companybankaccount.bankid }}</td>
              <td>{{ companybankaccount.branchname }}</td>
              <td>{{ companybankaccount.branchid }}</td>
              <td>{{ companybankaccount.amount }}</td>
              <td>{{ companybankaccount.accountcode }}</td>
              <td>{{ companybankaccount.accountid }}</td>
              <td>{{ companybankaccount.lmd | formatMediumDatetime }}</td>
              <td>{{ companybankaccount.lmu }}</td>
              <td>{{ companybankaccount.isactive }}</td>
              <td>{{ companybankaccount.accounttypeid }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/companybankaccount', companybankaccount.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/companybankaccount', companybankaccount.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(companybankaccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (companybankaccounts && companybankaccounts.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
