<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-autocarehoist-heading" data-cy="AutocarehoistCreateUpdateHeading">Create or edit a Autocarehoist</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_hoistname">Hoistname</label>
          <input type="text" class="form-control" name="hoistname" id="field_hoistname" data-cy="hoistname" formControlName="hoistname" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hoistcode">Hoistcode</label>
          <input type="text" class="form-control" name="hoistcode" id="field_hoistcode" data-cy="hoistcode" formControlName="hoistcode" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hoisttypeid">Hoisttypeid</label>
          <input
            type="number"
            class="form-control"
            name="hoisttypeid"
            id="field_hoisttypeid"
            data-cy="hoisttypeid"
            formControlName="hoisttypeid"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hoisttypename">Hoisttypename</label>
          <input
            type="text"
            class="form-control"
            name="hoisttypename"
            id="field_hoisttypename"
            data-cy="hoisttypename"
            formControlName="hoisttypename"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmu">Lmu</label>
          <input type="number" class="form-control" name="lmu" id="field_lmu" data-cy="lmu" formControlName="lmu" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmd">Lmd</label>
          <div class="d-flex">
            <input
              id="field_lmd"
              data-cy="lmd"
              type="datetime-local"
              class="form-control"
              name="lmd"
              formControlName="lmd"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
