<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (billingserviceoptionvalues()) {
      <div>
        <h2 data-cy="billingserviceoptionvaluesDetailsHeading"><span>Billingserviceoptionvalues</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ billingserviceoptionvalues()!.id }}</span>
          </dd>
          <dt><span>Vehicletypeid</span></dt>
          <dd>
            <span>{{ billingserviceoptionvalues()!.vehicletypeid }}</span>
          </dd>
          <dt><span>Billingserviceoptionid</span></dt>
          <dd>
            <span>{{ billingserviceoptionvalues()!.billingserviceoptionid }}</span>
          </dd>
          <dt><span>Value</span></dt>
          <dd>
            <span>{{ billingserviceoptionvalues()!.value }}</span>
          </dd>
          <dt><span>Lmd</span></dt>
          <dd>
            <span>{{ billingserviceoptionvalues()!.lmd | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Lmu</span></dt>
          <dd>
            <span>{{ billingserviceoptionvalues()!.lmu }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button
          type="button"
          [routerLink]="['/billingserviceoptionvalues', billingserviceoptionvalues()!.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
