<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-autocarejob-heading" data-cy="AutocarejobCreateUpdateHeading">Create or edit a Autocarejob</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_jobnumber">Jobnumber</label>
          <input type="number" class="form-control" name="jobnumber" id="field_jobnumber" data-cy="jobnumber" formControlName="jobnumber" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vehicleid">Vehicleid</label>
          <input type="number" class="form-control" name="vehicleid" id="field_vehicleid" data-cy="vehicleid" formControlName="vehicleid" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vehiclenumber">Vehiclenumber</label>
          <input
            type="text"
            class="form-control"
            name="vehiclenumber"
            id="field_vehiclenumber"
            data-cy="vehiclenumber"
            formControlName="vehiclenumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_millage">Millage</label>
          <input type="number" class="form-control" name="millage" id="field_millage" data-cy="millage" formControlName="millage" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nextmillage">Nextmillage</label>
          <input
            type="number"
            class="form-control"
            name="nextmillage"
            id="field_nextmillage"
            data-cy="nextmillage"
            formControlName="nextmillage"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nextservicedate">Nextservicedate</label>
          <div class="input-group">
            <input
              id="field_nextservicedate"
              data-cy="nextservicedate"
              type="text"
              class="form-control"
              name="nextservicedate"
              ngbDatepicker
              #nextservicedateDp="ngbDatepicker"
              formControlName="nextservicedate"
            />
            <button type="button" class="btn btn-secondary" (click)="nextservicedateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vehicletypeid">Vehicletypeid</label>
          <input
            type="number"
            class="form-control"
            name="vehicletypeid"
            id="field_vehicletypeid"
            data-cy="vehicletypeid"
            formControlName="vehicletypeid"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_jobtypeid">Jobtypeid</label>
          <input type="number" class="form-control" name="jobtypeid" id="field_jobtypeid" data-cy="jobtypeid" formControlName="jobtypeid" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_jobtypename">Jobtypename</label>
          <input
            type="text"
            class="form-control"
            name="jobtypename"
            id="field_jobtypename"
            data-cy="jobtypename"
            formControlName="jobtypename"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_jobopenby">Jobopenby</label>
          <input type="number" class="form-control" name="jobopenby" id="field_jobopenby" data-cy="jobopenby" formControlName="jobopenby" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_jobopentime">Jobopentime</label>
          <div class="d-flex">
            <input
              id="field_jobopentime"
              data-cy="jobopentime"
              type="datetime-local"
              class="form-control"
              name="jobopentime"
              formControlName="jobopentime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmu">Lmu</label>
          <input type="number" class="form-control" name="lmu" id="field_lmu" data-cy="lmu" formControlName="lmu" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lmd">Lmd</label>
          <div class="d-flex">
            <input
              id="field_lmd"
              data-cy="lmd"
              type="datetime-local"
              class="form-control"
              name="lmd"
              formControlName="lmd"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_specialrquirments">Specialrquirments</label>
          <input
            type="text"
            class="form-control"
            name="specialrquirments"
            id="field_specialrquirments"
            data-cy="specialrquirments"
            formControlName="specialrquirments"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_specialinstructions">Specialinstructions</label>
          <input
            type="text"
            class="form-control"
            name="specialinstructions"
            id="field_specialinstructions"
            data-cy="specialinstructions"
            formControlName="specialinstructions"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_remarks">Remarks</label>
          <input type="text" class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nextserviceinstructions">Nextserviceinstructions</label>
          <input
            type="text"
            class="form-control"
            name="nextserviceinstructions"
            id="field_nextserviceinstructions"
            data-cy="nextserviceinstructions"
            formControlName="nextserviceinstructions"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastserviceinstructions">Lastserviceinstructions</label>
          <input
            type="text"
            class="form-control"
            name="lastserviceinstructions"
            id="field_lastserviceinstructions"
            data-cy="lastserviceinstructions"
            formControlName="lastserviceinstructions"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isadvisorchecked">Isadvisorchecked</label>
          <input
            type="checkbox"
            class="form-check"
            name="isadvisorchecked"
            id="field_isadvisorchecked"
            data-cy="isadvisorchecked"
            formControlName="isadvisorchecked"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isempallocated">Isempallocated</label>
          <input
            type="checkbox"
            class="form-check"
            name="isempallocated"
            id="field_isempallocated"
            data-cy="isempallocated"
            formControlName="isempallocated"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_jobclosetime">Jobclosetime</label>
          <div class="d-flex">
            <input
              id="field_jobclosetime"
              data-cy="jobclosetime"
              type="datetime-local"
              class="form-control"
              name="jobclosetime"
              formControlName="jobclosetime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isjobclose">Isjobclose</label>
          <input
            type="checkbox"
            class="form-check"
            name="isjobclose"
            id="field_isjobclose"
            data-cy="isjobclose"
            formControlName="isjobclose"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isfeedback">Isfeedback</label>
          <input
            type="checkbox"
            class="form-check"
            name="isfeedback"
            id="field_isfeedback"
            data-cy="isfeedback"
            formControlName="isfeedback"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_feedbackstatusid">Feedbackstatusid</label>
          <input
            type="number"
            class="form-control"
            name="feedbackstatusid"
            id="field_feedbackstatusid"
            data-cy="feedbackstatusid"
            formControlName="feedbackstatusid"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customername">Customername</label>
          <input
            type="text"
            class="form-control"
            name="customername"
            id="field_customername"
            data-cy="customername"
            formControlName="customername"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customertel">Customertel</label>
          <input
            type="text"
            class="form-control"
            name="customertel"
            id="field_customertel"
            data-cy="customertel"
            formControlName="customertel"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customerid">Customerid</label>
          <input
            type="number"
            class="form-control"
            name="customerid"
            id="field_customerid"
            data-cy="customerid"
            formControlName="customerid"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_advisorfinalcheck">Advisorfinalcheck</label>
          <input
            type="checkbox"
            class="form-check"
            name="advisorfinalcheck"
            id="field_advisorfinalcheck"
            data-cy="advisorfinalcheck"
            formControlName="advisorfinalcheck"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_jobdate">Jobdate</label>
          <div class="d-flex">
            <input
              id="field_jobdate"
              data-cy="jobdate"
              type="datetime-local"
              class="form-control"
              name="jobdate"
              formControlName="jobdate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_iscompanyservice">Iscompanyservice</label>
          <input
            type="checkbox"
            class="form-check"
            name="iscompanyservice"
            id="field_iscompanyservice"
            data-cy="iscompanyservice"
            formControlName="iscompanyservice"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_freeservicenumber">Freeservicenumber</label>
          <input
            type="text"
            class="form-control"
            name="freeservicenumber"
            id="field_freeservicenumber"
            data-cy="freeservicenumber"
            formControlName="freeservicenumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_companyid">Companyid</label>
          <input type="number" class="form-control" name="companyid" id="field_companyid" data-cy="companyid" formControlName="companyid" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_updatetocustomer">Updatetocustomer</label>
          <input
            type="checkbox"
            class="form-check"
            name="updatetocustomer"
            id="field_updatetocustomer"
            data-cy="updatetocustomer"
            formControlName="updatetocustomer"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nextgearoilmilage">Nextgearoilmilage</label>
          <input
            type="text"
            class="form-control"
            name="nextgearoilmilage"
            id="field_nextgearoilmilage"
            data-cy="nextgearoilmilage"
            formControlName="nextgearoilmilage"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isjobinvoiced">Isjobinvoiced</label>
          <input
            type="checkbox"
            class="form-check"
            name="isjobinvoiced"
            id="field_isjobinvoiced"
            data-cy="isjobinvoiced"
            formControlName="isjobinvoiced"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_iswaiting">Iswaiting</label>
          <input type="checkbox" class="form-check" name="iswaiting" id="field_iswaiting" data-cy="iswaiting" formControlName="iswaiting" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_iscustomercomment">Iscustomercomment</label>
          <input
            type="checkbox"
            class="form-check"
            name="iscustomercomment"
            id="field_iscustomercomment"
            data-cy="iscustomercomment"
            formControlName="iscustomercomment"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_imagefolder">Imagefolder</label>
          <input
            type="text"
            class="form-control"
            name="imagefolder"
            id="field_imagefolder"
            data-cy="imagefolder"
            formControlName="imagefolder"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_frontimage">Frontimage</label>
          <input
            type="text"
            class="form-control"
            name="frontimage"
            id="field_frontimage"
            data-cy="frontimage"
            formControlName="frontimage"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_leftimage">Leftimage</label>
          <input type="text" class="form-control" name="leftimage" id="field_leftimage" data-cy="leftimage" formControlName="leftimage" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_rightimage">Rightimage</label>
          <input
            type="text"
            class="form-control"
            name="rightimage"
            id="field_rightimage"
            data-cy="rightimage"
            formControlName="rightimage"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_backimage">Backimage</label>
          <input type="text" class="form-control" name="backimage" id="field_backimage" data-cy="backimage" formControlName="backimage" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dashboardimage">Dashboardimage</label>
          <input
            type="text"
            class="form-control"
            name="dashboardimage"
            id="field_dashboardimage"
            data-cy="dashboardimage"
            formControlName="dashboardimage"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
